<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/starability-basic.css" />

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

<div class="mx-auto flex gap-x-4">
  <div
    class="w-[50%] self-start overflow-hidden rounded-md border border-slate-300 shadow-lg"
  >
    <div id="controls-carousel" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-64">
        <!-- Items -->
        <% campground.images.forEach((img, i) => { if(campground.images.length
        === 1 ) {%>
        <img
          src="<%= img.url %>"
          class="aspect-video min-w-full object-cover"
          alt="..."
          crossorigin="anonymous"
        />
        <% } else { %>
        <div class="hidden duration-[700ms] ease-in-out" data-carousel-item>
          <img
            src="<%= img.url %>"
            class="aspect-video min-w-full object-cover"
            alt="..."
            crossorigin="anonymous"
          />
        </div>
        <% }}) %>
      </div>
      <%if(campground.images.length > 1) {%>
      <button
        type="button"
        class="group absolute left-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex h-10 w-10 items-center justify-center rounded-full"
        >
          <svg
            class="h-4 w-4 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="group absolute right-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex h-10 w-10 items-center justify-center rounded-full"
        >
          <svg
            class="h-4 w-4 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
      <% } %>
    </div>

    <div class="mt-6 px-4 py-2">
      <p class="text-3xl font-semibold"><%= campground.title %></p>
      <p class="text-sm"><%= campground.description %></p>
    </div>
    <div class="w-full border-b border-slate-300"></div>
    <p class="px-4 py-2 text-slate-400"><%= campground.location %></p>
    <div class="w-full border-b border-slate-300"></div>
    <p class="px-4 py-2">
      Submitted by <b><%= campground.author.username %></b>
    </p>
    <div class="w-full border-b border-slate-300"></div>
    <p class="px-4 py-2 font-medium">$<%= campground.price %>/night</p>
    <div class="w-full border-b border-slate-300"></div>
    <% if(currentUser && campground.author.equals(currentUser)) { %>
    <div class="flex gap-x-2 px-4 py-2">
      <a
        href="/campgrounds/<%= campground._id %>/edit"
        class="rounded-mds bg-sky-600 px-2 py-1 font-medium text-white"
        >Edit</a
      >
      <form
        action="/campgrounds/<%= campground._id %>?_method=DELETE"
        method="POST"
      >
        <button
          type="submit"
          class="rounded-mds bg-red-600 px-2 py-1 font-medium text-white"
        >
          Delete
        </button>
      </form>
    </div>
    <% } %>
  </div>

  <div class="w-[50%]">
    <div id="map" class="h-64 w-full rounded-md border border-slate-300"></div>
    <% if(currentUser) { %>
    <h2 class="mt-4 text-3xl font-bold">Leave a Review</h2>
    <form
      action="/campgrounds/<%= campground._id %>/reviews"
      method="POST"
      class="group mt-2 flex flex-col"
      novalidate
    >
      <fieldset class="starability-basic mb-2">
        <legend class="mb-1 font-semibold">Rating:</legend>
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="review[rating]"
          value="1"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <div>
        <label for="body" class="block font-semibold">Review</label>
        <textarea
          required
          name="review[body]"
          id="body"
          class="-md 100ms peer block w-full rounded border border-slate-300 bg-white px-3 py-2 text-sm placeholder-slate-400 shadow-sm transition ease-in invalid:border-pink-500 invalid:text-pink-600 focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-500 disabled:shadow-none"
        ></textarea>
        <span class="mt-2 hidden text-sm text-pink-600 peer-[&:invalid]:block">
          Description is required!
        </span>
      </div>
      <button
        class="mt-2 self-end rounded-md bg-green-600 px-2 py-1 font-medium text-white group-invalid:pointer-events-none group-invalid:opacity-30"
      >
        Submit
      </button>
    </form>
    <% } else { %>
    <p class="mt-2">
      <a href="/login" class="text-blue-800 underline">Login</a>, to leave a
      review!
    </p>
    <% } %> <% for(let review of campground.reviews){ %>
    <div class="mt-3 rounded-md border border-slate-300 px-4 py-2 shadow-md">
      <div class="mb-2 flex h-full items-center gap-x-4">
        <p class="starability-result -z-10" data-rating="<%= review.rating %>">
          Rated: <%= review.rating %> stars
        </p>
        <p class="text-md font-semibold text-gray-400">
          <%= review.relativeTime %>
        </p>
      </div>
      <p class="text-xs text-blue-600 opacity-75">
        @<%= review.author.username %>
      </p>
      <div class="flex w-full justify-between">
        <p><%= review.body %></p>
        <% if(currentUser && review.author.equals(currentUser._id)){ %>
        <form
          action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="rounded-md font-medium text-red-600">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campground = <%-JSON.stringify(campground)%>;
</script>
<script src="/javascripts/showPageMap.js"></script>
